.Container-left {
    border-style: groove;
    min-height: 45vh;
    max-width: 50vh;
    text-align: center;
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-size: calc(20px + 2vmin);
    color:rgb(116, 25, 151);
    flex-direction:column;
    align-items: left;
    justify-content: left;

  }
  .Container-right {
    border-style: inset;
    min-height: 45vh;
    max-width: 50vh;
    text-align: center;
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-size: calc(20px + 2vmin);
    color:rgb(116, 25, 151);
    flex-direction:column;
    align-items: right;
    justify-content: right;
  }

  .Header {
    background-color: #8e6b96;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: white;
  }
  .Banner {
    text-align: center;
    color:rgb(7, 7, 7);
    font-size: calc(25px + 2vmin);
  }
  .Container {
    min-height:0vh;
    min-width:0vh;
    justify-content:center;
  }