.Grid-child-left {
    border-style: groove;
    text-align: center;
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-size: calc(20px + 2vmin);
    color:rgb(116, 25, 151);
  }
  .Grid-child-right {
    border-style: hidden;
    text-align: center;
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-size: calc(20px + 2vmin);
    color:rgb(116, 25, 151);
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }

  .Header {
    background-color: #8e6b96;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: white;
  }
  .Banner {
    text-align: center;
    color:rgb(7, 7, 7);
    font-size: calc(25px + 2vmin);
  }
  .Grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }